@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.music-theme-container * {
  font-family: "Inter";
}

.music-theme-container .st-header-label-text {
  font-weight: 500;
  font-size: 12px;
}
.music-theme-container .st-cell-content {
  font-size: 12px;
}
